@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.scrollable-container {
  height: 80vh;
  width: 70vw;
  background-color: #f0f0f0; /* Adjust to match your design */
  border-radius: 8px; /* Rounded corners */
  border: 1px solid #ddd; /* Border color */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* The container for the scrollbar */
.scrollable-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* The track (background) of the scrollbar */
.scrollable-container::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
  border-radius: 8px; /* Rounded corners for the track */
}

/* The handle of the scrollbar */
.scrollable-container::-webkit-scrollbar-thumb {
  background: #888; /* Handle color */
  border-radius: 50px; /* Rounded corners for the handle */
}

/* The handle on hover */
.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker handle color on hover */
}
/* Custom scrollbar styles for Firefox */
.scrollable-container {
  scrollbar-width: none; /* Thin scrollbar */
  scrollbar-color: #FFFFFF; /* Handle color and track color */
}
  
